@model ParkingApp.Models.ParkInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details Car</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlateNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlateNumber)
        </dd>
       <dt class = "col-sm-2">
           @Html.DisplayNameFor(model => model.ArrivedAt)
       </dt>
       <dd class = "col-sm-10">
           @Html.DisplayFor(model => model.ArrivedAt)
       </dd>
       <dt class = "col-sm-2">
           @Html.DisplayNameFor(model => model.PayedUntil)
       </dt>
       <dd class = "col-sm-10">
           @Html.DisplayFor(model => model.PayedUntil)
       </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-secondary" asp-action="ParkIndex">Back to List</a>
</div>