@model VendingMachines.Models.Machine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details Machine</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-secondary" asp-action="MachineIndex">Back to List</a>
</div>